@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('base.css');


*{
    box-sizing: border-box;
}

.linha{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.item-linha{
    width: 400px;
}

.item-linha img{
    width: 100%;
}