@import url('base.css');

.linha {
    display: flex; /* Define um flex-container */
    align-items: center; /* Centraliza os itens verticalmente */
    margin-bottom: 20px; /* Espaçamento entre linhas */
    gap: 15px; /* Espaçamento entre os itens */
}

.sec-branco .item {
    flex: 1; /* Os itens ocupam 50% da largura do flex-container */
    max-width: 50%; /* Limita a largura máxima a 50% */
    align-items: center;
    justify-self: center;
}

.sec-branco .item img {
    width: 200px;
    height: auto; /* Ajusta proporcionalmente */
    object-fit: cover; /* Evita distorção */
    border-radius: 8px; /* Opcional: bordas arredondadas */
}

.img-centro{
    display: flex;
    justify-content: center;
    align-items: center;
}